### Exercicio 1: Identificación de Tipos

Dada esta lista de valores, identifica e amosa o tipo de cada un:

In [3]:
valores = [
    42,
    3.1416,
    "Ola Python",
    True,
    [1, 2, 3],
    ("a", "b", "c"),
    {"nome": "Gerardo", "edad": 45},
    {1, 2, 3, 2, 1},
    None
]

In [4]:
# Escribe aquí o código da túa solución
# Lista de valores proporcionada en el ejercicio
valores = [
    42,
    3.1416,
    "Ola Python",
    True,
    [1, 2, 3],
    ("a", "b", "c"),
    {"nome": "Gerardo", "edad": 45},
    {1, 2, 3, 2, 1},
    None
]

print("--- Identificación de Tipos de Datos ---")


for v in valores:
    tipo = type(v).__name__
    print(f"El valor '{v}' es de tipo: {tipo}")

--- Identificación de Tipos de Datos ---
El valor '42' es de tipo: int
El valor '3.1416' es de tipo: float
El valor 'Ola Python' es de tipo: str
El valor 'True' es de tipo: bool
El valor '[1, 2, 3]' es de tipo: list
El valor '('a', 'b', 'c')' es de tipo: tuple
El valor '{'nome': 'Gerardo', 'edad': 45}' es de tipo: dict
El valor '{1, 2, 3}' es de tipo: set
El valor 'None' es de tipo: NoneType

---

### Exercicio 2: Conversións de Tipo

A partires dos seguintes elementos:

In [ ]:
numero_str = "1234"
numero_float = 45.67
lista_numeros = [1, 2, 3, 4, 5]

Realiza as seguintes conversións:

1. numero_str a enteiro
2. numero_float a enteiro (qué pasa coa parte decimal?)
3. lista_numeros a tupla e a conxunto
4. Crea un string que combine numero_str e numero_float

In [14]:
# Escribe aquí o código da túa solución
numero_str = "1234"
numero_float = 45.67
lista_numeros = [1, 2, 3, 4, 5]

print("--- Resultados de las Conversiones ---")

num_entero = int(numero_str)
print(f"1. String a entero: {num_entero} (Tipo: {type(num_entero).__name__})")

num_float_a_int = int(numero_float)
print(f"2. Float a entero: {num_float_a_int}")
print("   ¿Qué pasa con la parte decimal?: Se pierde completamente. Python trunca el número, no lo redondea.")

tupla_numeros = tuple(lista_numeros)
conjunto_numeros = set(lista_numeros)
print(f"3. Lista a Tupla: {tupla_numeros}")
print(f"   Lista a Conjunto: {conjunto_numeros}")

combinacion = f"{numero_str} - {numero_float}"
print(f"4. String combinado: '{combinacion}'")

--- Resultados de las Conversiones ---
1. String a entero: 1234 (Tipo: int)
2. Float a entero: 45
   ¿Qué pasa con la parte decimal?: Se pierde completamente. Python trunca el número, no lo redondea.
3. Lista a Tupla: (1, 2, 3, 4, 5)
   Lista a Conjunto: {1, 2, 3, 4, 5}
4. String combinado: '1234 - 45.67'

---

### Exercicio 3: Cadeas

A partires desta cadea:

In [ ]:
texto = "  Python é unha linguaxe de programación super famosa  "

Realiza estas operacións:

1. Elimina espazos ao comezo e ao final
2. Convirte a maiúsculas
3. Reempraza "linguaxe" por "lang"
4. Divide o string en palabras
5. Atopa a posición de "programación"

In [13]:
# Escribe aquí o código da túa solución
texto = "  Python é unha linguaxe de programación super famosa  "

print("--- Manipulación de Cadenas ---")

texto_limpio = texto.strip()
print(f"1. Limpio: '{texto_limpio}'")

texto_upper = texto_limpio.upper()
print(f"2. Mayúsculas: {texto_upper}")

texto_reemplazado = texto_limpio.replace("linguaxe", "lang")
print(f"3. Reemplazo: {texto_reemplazado}")

lista_palabras = texto_limpio.split()
print(f"4. Lista de palabras: {lista_palabras}")

posicion = texto_limpio.find("programación")
print(f"5. La palabra 'programación' empieza en el índice: {posicion}")

--- Manipulación de Cadenas ---
1. Limpio: 'Python é unha linguaxe de programación super famosa'
2. Mayúsculas: PYTHON É UNHA LINGUAXE DE PROGRAMACIÓN SUPER FAMOSA
3. Reemplazo: Python é unha lang de programación super famosa
4. Lista de palabras: ['Python', 'é', 'unha', 'linguaxe', 'de', 'programación', 'super', 'famosa']
5. La palabra 'programación' empieza en el índice: 26

---

### Exercicio 4: Listas

A partires da seguinte lista:

In [ ]:
frutas = ["mazá", "plátano", "laranxa", "uva", "mazá"]

Realiza estas operacións:

1. Engade "pera" ao final
2. Inserta "kiwi" na posición 2
3. Elimina a primera "mazá"
4. Ordena a lista alfabéticamente
5. Crea unha nova lista coas frutas que teñen máis de 5 letras

In [12]:
# Escribe aquí o código da túa solución
frutas = ["mazá", "plátano", "laranxa", "uva", "mazá"]

print(f"Lista original: {frutas}")

frutas.append("pera")
print(f"1. Tras añadir pera: {frutas}")

frutas.insert(2, "kiwi")
print(f"2. Tras insertar kiwi en pos 2: {frutas}")

frutas.remove("mazá")
print(f"3. Tras eliminar la primera 'mazá': {frutas}")

frutas.sort()
print(f"4. Lista ordenada: {frutas}")

frutas_largas = [f for f in frutas if len(f) > 5]
print(f"5. Frutas con más de 5 letras: {frutas_largas}")

Lista original: ['mazá', 'plátano', 'laranxa', 'uva', 'mazá']
1. Tras añadir pera: ['mazá', 'plátano', 'laranxa', 'uva', 'mazá', 'pera']
2. Tras insertar kiwi en pos 2: ['mazá', 'plátano', 'kiwi', 'laranxa', 'uva', 'mazá', 'pera']
3. Tras eliminar la primera 'mazá': ['plátano', 'kiwi', 'laranxa', 'uva', 'mazá', 'pera']
4. Lista ordenada: ['kiwi', 'laranxa', 'mazá', 'pera', 'plátano', 'uva']
5. Frutas con más de 5 letras: ['laranxa', 'plátano']

---

### Ejercicio 5: Tuplas

Crea unha tupla coas coordenadas (x, y, z)

In [ ]:
coordenadas = (3, 7, 2)

Realiza estas operacións:

1. Accede a cada coordenada individualmente
2. Intenta modificar unha coordenada (qué ocorre?)
3. Convirte a tupla a lista
4. Crea unha nova tupla concatenando (1, 2, 3)
5. Desempaqueta a tupla en variables x, y, z

In [11]:
# Escribe aquí o código da túa solución
coordenadas = (3, 7, 2)

print(f"Tupla inicial: {coordenadas}")


print(f"1. Coordenada X: {coordenadas[0]}")
print(f"   Coordenada Y: {coordenadas[1]}")
print(f"   Coordenada Z: {coordenadas[2]}")

print("\n2. Intento de modificación (coordenadas[0] = 10):")
try:
    coordenadas[0] = 10
except TypeError as e:
    print(f"   ERROR: {e}")
    print("   ¿Qué ocurre?: Las tuplas son INMUTABLES. Una vez creadas, no puedes cambiar sus valores.")

lista_coordenadas = list(coordenadas)
print(f"\n3. Convertida a lista: {lista_coordenadas} (Tipo: {type(lista_coordenadas).__name__})")


nueva_tupla = coordenadas + (1, 2, 3)
print(f"4. Nueva tupla concatenada: {nueva_tupla}")

x, y, z = coordenadas
print(f"5. Variables desempaquetadas: x={x}, y={y}, z={z}")

Tupla inicial: (3, 7, 2)
1. Coordenada X: 3
   Coordenada Y: 7
   Coordenada Z: 2

2. Intento de modificación (coordenadas[0] = 10):
   ERROR: 'tuple' object does not support item assignment
   ¿Qué ocurre?: Las tuplas son INMUTABLES. Una vez creadas, no puedes cambiar sus valores.

3. Convertida a lista: [3, 7, 2] (Tipo: list)
4. Nueva tupla concatenada: (3, 7, 2, 1, 2, 3)
5. Variables desempaquetadas: x=3, y=7, z=2

---

### Exercicio 6: Diccionarios

A partires do seguinte diccionario:

In [ ]:
estudante = {
    "nome": "Carlos",
    "idade": 35,
    "modulos": ["Redes", "Sistemas", "Programación"],
    "activo": True
}

Realiza estas operacións:

1. Engade a chave "promedio" con valor 8.5
2. Actualiza la idade a 40
3. Engade "Hardware" á lista de módulos
4. Amosa todas as chaves do diccionario
5. Crea unha copia do diccionario e modifica a copia

In [10]:
# Escribe aquí o código da túa solución
# Diccionario inicial
estudante = {
    "nome": "Carlos",
    "idade": 35,
    "modulos": ["Redes", "Sistemas", "Programación"],
    "activo": True
}

print(f"Diccionario inicial: {estudante}")

estudante["promedio"] = 8.5
print(f"1. Con promedio: {estudante['promedio']}")

estudante["idade"] = 40
print(f"2. Edad actualizada: {estudante['idade']}")

estudante["modulos"].append("Hardware")
print(f"3. Módulos actualizados: {estudante['modulos']}")

print(f"4. Claves del diccionario: {list(estudante.keys())}")

estudante_copia = estudante.copy()
estudante_copia["nome"] = "Ana"

print(f"5. Original: {estudante['nome']} | Copia: {estudante_copia['nome']}")

Diccionario inicial: {'nome': 'Carlos', 'idade': 35, 'modulos': ['Redes', 'Sistemas', 'Programación'], 'activo': True}
1. Con promedio: 8.5
2. Edad actualizada: 40
3. Módulos actualizados: ['Redes', 'Sistemas', 'Programación', 'Hardware']
4. Claves del diccionario: ['nome', 'idade', 'modulos', 'activo', 'promedio']
5. Original: Carlos | Copia: Ana

---

### Exercicio 7: Lista de Diccionarios

Crea unha lista de diccionarios con información de estudantes:

In [ ]:
estudantes = [
    {"nome": "Ana", "idade": 20, "nota": 8.5},
    {"nome": "Carlos", "idade": 22, "nota": 7.8},
    {"nome": "María", "idade": 21, "nota": 9.2}
]

Realiza estas operacións:

1. Engade un nopvo estudante.
2. Atopa o estudiante con maior nota.
3. Calcula o promedio de idades.
4. Crea unha lista só cos nomes.
5. Ordena os estudantes por nota (descendente).

In [9]:
# Escribe aquí o código da túa solución
# Lista inicial de estudiantes
estudantes = [
    {"nome": "Ana", "idade": 20, "nota": 8.5},
    {"nome": "Carlos", "idade": 22, "nota": 7.8},
    {"nome": "María", "idade": 21, "nota": 9.2}
]

print("--- Gestión de Base de Datos de Estudiantes ---")

estudantes.append({"nome": "Luis", "idade": 23, "nota": 8.0})
print(f"1. Nuevo estudiante añadido. Total: {len(estudantes)}")

mejor_estudante = max(estudantes, key=lambda x: x["nota"])
print(f"2. Estudiante con mayor nota: {mejor_estudante['nome']} ({mejor_estudante['nota']})")

total_idades = sum(e["idade"] for e in estudantes)
promedio_idade = total_idades / len(estudantes)
print(f"3. Promedio de edad: {promedio_idade:.2f} años")

nomes = [e["nome"] for e in estudantes]
print(f"4. Lista de nombres: {nomes}")

estudantes.sort(key=lambda x: x["nota"], reverse=True)
print("5. Estudiantes ordenados por nota:")
for e in estudantes:
    print(f"   - {e['nome']}: {e['nota']}")

--- Gestión de Base de Datos de Estudiantes ---
1. Nuevo estudiante añadido. Total: 4
2. Estudiante con mayor nota: María (9.2)
3. Promedio de edad: 21.50 años
4. Lista de nombres: ['Ana', 'Carlos', 'María', 'Luis']
5. Estudiantes ordenados por nota:
   - María: 9.2
   - Ana: 8.5
   - Luis: 8.0
   - Carlos: 7.8

---

### Exercicio 8: Conxuntos

A partir destes conxuntos:

In [ ]:
conx_a = {1, 2, 3, 4, 5}
conx_b = {4, 5, 6, 7, 8}

Realiza estas operacións:

1. Unión de ambos conxuntos
2. Intersección
3. Diferencia (A - B)
4. Diferencia simétrica
5. Verifica si 3 está en A

In [8]:
# Escribe aquí o código da túa solución
# Definición de los conjuntos iniciales
conx_a = {1, 2, 3, 4, 5}
conx_b = {4, 5, 6, 7, 8}

print(f"Conjunto A: {conx_a}")
print(f"Conjunto B: {conx_b}")

union = conx_a | conx_b  # También se puede usar conx_a.union(conx_b)
print(f"1. Unión (A ∪ B): {union}")


interseccion = conx_a & conx_b  # También conx_a.intersection(conx_b)
print(f"2. Intersección (A ∩ B): {interseccion}")

diferencia = conx_a - conx_b
print(f"3. Diferencia (A - B): {diferencia}")

dif_simetrica = conx_a ^ conx_b
print(f"4. Diferencia simétrica: {dif_simetrica}")

esta_el_tres = 3 in conx_a
print(f"5. ¿Está el número 3 en el conjunto A?: {esta_el_tres}")

Conjunto A: {1, 2, 3, 4, 5}
Conjunto B: {4, 5, 6, 7, 8}
1. Unión (A ∪ B): {1, 2, 3, 4, 5, 6, 7, 8}
2. Intersección (A ∩ B): {4, 5}
3. Diferencia (A - B): {1, 2, 3}
4. Diferencia simétrica: {1, 2, 3, 6, 7, 8}
5. ¿Está el número 3 en el conjunto A?: True

---

### Exercicio 9: Programa Integrador

Crea un programa que:

1. Pida ao usuario o seu nome, idade e cidade de residencia
2. Almacene esa información nun diccionario
3. Convirta a idade a enteiro
4. Cree unha lista de hobbies (pregunta por 3 polo menos)
5. Amose toda a información formateada de xeito lexible

In [7]:
# Escribe aquí o código da túa solución
# 1. Pedir datos al usuario
print("--- Registro de Usuario ---")
nome = input("Introduce tu nombre: ")
idade_str = input("Introduce tu edad: ")
cidade = input("Introduce tu ciudad de residencia: ")

usuario = {
    "nombre": nome,
    "edad": int(idade_str),
    "ciudad": cidade
}

hobbies = []
print("\nAhora introduce 3 de tus hobbies favoritos:")
for i in range(1, 4):
    hobby = input(f"Hobby {i}: ")
    hobbies.append(hobby)

usuario["hobbies"] = hobbies

print("\n" + "="*30)
print("   PERFIL DE USUARIO")
print("="*30)
print(f"Nombre: {usuario['nombre']}")
print(f"Edad:   {usuario['edad']} años")
print(f"Ciudad: {usuario['ciudad']}")
print(f"Hobbies: {', '.join(usuario['hobbies'])}")
print("="*30)

--- Registro de Usuario ---
Introduce tu nombre: pedro
Introduce tu edad: 25
Introduce tu ciudad de residencia: Pontevedra

Ahora introduce 3 de tus hobbies favoritos:
Hobby 1: tenis
Hobby 2: Gartos
Hobby 3: Perros

==============================
   PERFIL DE USUARIO
==============================
Nombre: pedro
Edad:   25 años
Ciudad: Pontevedra
Hobbies: tenis, Gartos, Perros
==============================

---

### Exercicio 10: Combinación de Tipos Complexos

Temos un Sistema de biblioteca:

In [6]:
biblioteca = {
    "libros": [
        {
            "titulo": "Cien años de soledad",
            "autor": "Gabriel García Márquez",
            "ano": 1967,
            "xeneros": {"Realismo mágico", "Novela"},
            "disponible": True
        },
        {
            "titulo": "1984",
            "autor": "George Orwell",
            "ano": 1949,
            "xeneros": {"Ciencia ficción", "Distopía"},
            "disponible": False
        }
    ],
    "usuarios": {
        "001": {"nome": "Ana", "libros_prestados": ["1984"]},
        "002": {"nome": "Carlos", "libros_prestados": []}
    }
}

Realiza estas operacións:

1. Engade un novo libro.
2. Marca un libro como non dispoñible.
3. Atopa todos os libros dun xénero.
4. Libros dispoñibles por autor.
5. Usuario con máis libros prestados.

In [5]:
# Escribe aquí o código da túa solución
biblioteca = {
    "libros": [
        {
            "titulo": "Cien años de soledad",
            "autor": "Gabriel García Márquez",
            "ano": 1967,
            "xeneros": {"Realismo mágico", "Novela"},
            "disponible": True
        },
        {
            "titulo": "1984",
            "autor": "George Orwell",
            "ano": 1949,
            "xeneros": {"Ciencia ficción", "Distopía"},
            "disponible": False
        }
    ],
    "usuarios": {
        "001": {"nome": "Ana", "libros_prestados": ["1984"]},
        "002": {"nome": "Carlos", "libros_prestados": []}
    }
}

nuevo_libro = {
    "titulo": "El Quijote",
    "autor": "Miguel de Cervantes",
    "ano": 1605,
    "xeneros": {"Clásico", "Aventuras"},
    "disponible": True
}
biblioteca["libros"].append(nuevo_libro)
print("1. Nuevo libro añadido con éxito.")


for libro in biblioteca["libros"]:
    if libro["titulo"] == "Cien años de soledad":
        libro["disponible"] = False
print("2. 'Cien años de soledad' marcado como no disponible.")

xenero_buscado = "Ciencia ficción"
libros_xenero = [l["titulo"] for l in biblioteca["libros"] if xenero_buscado in l["xeneros"]]
print(f"3. Libros de {xenero_buscado}: {libros_xenero}")


autor_buscado = "Miguel de Cervantes"
dispo_autor = [l["titulo"] for l in biblioteca["libros"] if l["autor"] == autor_buscado and l["disponible"]]
print(f"4. Disponibles de {autor_buscado}: {dispo_autor}")


usuario_top = max(biblioteca["usuarios"].values(), key=lambda u: len(u["libros_prestados"]))
print(f"5. Usuario con más préstamos: {usuario_top['nome']} ({len(usuario_top['libros_prestados'])} libros)")

1. Nuevo libro añadido con éxito.
2. 'Cien años de soledad' marcado como no disponible.
3. Libros de Ciencia ficción: ['1984']
4. Disponibles de Miguel de Cervantes: ['El Quijote']
5. Usuario con más préstamos: Ana (1 libros)